apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cicd-demo-green-hpa
  namespace: cicd
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cicd-demo-green
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
